@tailwind base;
@tailwind components;
@tailwind utilities;

.input-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-button-container input {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .input-button-container button {
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .dictionary__page{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.search__page{
    width: 50%;
    display:flex;
    flex-direction: column;
}

.search__page input{
    width: 100% !important;
    outline: none !important;
    padding-left: 47px;
    font-size: 20px;
    text-align: start;
}

.search__icon{
    position: relative;
    left: 26px;
    top: 15px;
    font-size: 24px;
}
